App {
	max-width: 600px;
	margin: 30px auto;
}
footer {
	color: white;
	font-size: 14px;
	margin: 40px auto;
	padding: 0 20px;
}

.App footer a {
	text-decoration: dashed;
	color: rgba(43, 43, 43, 0.464);
	font-weight: bold;
}
